#about {
  height: 100vh;
}
#about > h5 {
  padding-top: 2rem;
}

.about__container {
  display: grid;
  grid-template-columns: 35% 60%;
  gap: 5%;
}

.about__container-me {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  height: 25rem;
  /* gap: 3rem; */
}

.about__me {
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-bg-variant),
    /* var(--color-primary), */
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me-image:hover {
  transform: rotate(0deg);
}

.about__content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* height: 20rem; */
  gap: 3rem;
}
.about__content > p {
  font-size: .9rem;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  margin: 0rem 0 0rem;
  color: var(--color-ligth);
}

/* ================== MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1440px) {

  .about__me {
    width: 90%;
  }
  .about__content {
    gap: 2rem;
  }
  .about__card {
  padding: 1.5rem;
  }
}


  /* ================== MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
  #about {
    height: auto;
    /* margin: 0; */
  }
  .about__container {
    /* height: auto; */
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__container-me {
    height: auto;
  }
  .about__me {
    width: 35%;
    margin: 0rem auto 0rem;
  }
  .about__content {
    /* margin: 1rem 0 1.5rem; */
    /* justify-content: space-between; */
    padding: 3rem 5rem 5rem;
    align-items: center;
    gap: 1rem;
  }
  .about__cards {
    width: 100%;
    padding: 3rem 0;
  }
  .about__card {
    padding: 2rem;
    }
}

/* ================== MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {
  #about {
    height: auto;
    margin: 0;
  }
  .about__container-me {
    /* gap: 1rem; */
    /* padding-bottom: 2rem; */
    height: auto;
  }
  .about__me {
    width: 65%;
    margin: 2rem auto 0rem;
  }
  .about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(0deg);
    /* transition: var(--transition); */
  }
  .about__cards {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem 2rem;
  }
  .about__card {
    padding: 2rem 1rem;
    }
  .about__content {
    padding: 1rem 0rem 2rem;
    /* text-align: center; */
  }
  .about__content p {
    margin-top: 1rem;
    padding: 0 1rem;
    text-align: justify;
  }
}
