header {
    height: 100vh;
    padding-top: 4rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    
}

.header__container > h5 {
  font-size: 1rem;
}

.header__container .text-light {
  padding-top: 1.5rem;
}

.header__container-name {
  font-size: 10rem;
  font-weight: 700;
  line-height: 1;


  color: transparent;
  background: linear-gradient(90deg, rgb(53, 162, 68) 0%, rgb(20, 164, 102) 10%, #4db5ff 20%, #4db5ff 30%, rgb(91, 9, 158) 40%, rgb(63, 10, 148) 50%, #4db5ff 60%, #4db5ff 70%, rgb(22, 110, 132) 80%, rgb(44, 44, 148) 90%, rgb(8, 54, 147) 100%);
  /* background-clip: text; */
  background-clip: text;
  animation: color 20s linear infinite; 
  background-size: 1000%;  
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}

@keyframes color {
  0% { 
    background-position: 0% 100%;
  }
  50% { 
    background-position: 100% 0%; 
  }
  100% { 
    background-position: 0% 100%; 
  }
}

/* ============ CTA ==========*/
.cta {
    margin-top: 4.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ============ HEADER SOCIALS ==========*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 1.1rem;
}

.header__socials > a {
  font-size: 1.3rem;
  /* width: 2rem; */
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ============ ME ==========*/
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    /* left: 50%;
    transform: translateX(50% - 11rem); */
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}

/* ============ SCROLL DOWN ==========*/
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 3rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.1rem;
}

/* ================== MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
    header {
      padding-top: 2rem;
    }
    .header__container-name {
      font-size: 8rem;
      font-weight: 700;
      line-height: 1.2;
    }
}

/* ================== MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    padding-top: 2rem;
  }
  .header__container-name {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .header__socials, .scroll__down {
    display: none;
  }
  .cta {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-top: 5.5rem;
  }
}