header {
    height: 100vh;
    padding-top: 4rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    
}

.header__container > h5 {
  font-size: 1rem;
}

.header__container .text-light {
  padding-top: 1.5rem;
}

.header__container-name {
  font-size: 10rem;
  font-weight: 700;
  line-height: 1;


  color: transparent;
  background: linear-gradient(90deg, rgb(53, 162, 68) 0%, rgb(20, 164, 102) 10%, #318ed0 20%, #318ed0 30%, rgb(91, 9, 158) 40%, rgb(63, 10, 148) 50%, #318ed0 60%, #318ed0 70%, rgb(22, 110, 132) 80%, rgb(44, 44, 148) 90%, rgb(8, 54, 147) 100%);
  /* background-clip: text; */
  background-clip: text;
  animation: color 20s linear infinite; 
  background-size: 1000%;  
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}

@keyframes color {
  0% { 
    background-position: 0% 100%;
  }
  50% { 
    background-position: 100% 0%; 
  }
  100% { 
    background-position: 0% 100%; 
  }
}

/* ============ CTA ==========*/
.cta {
    margin-top: 4.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
.cta > a {
  display: flex;
  gap: .5rem;
}
.cta > a > svg {
  margin: auto;
}

/* ============ HEADER SOCIALS ==========*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 1.1rem;
}

.header__socials > a {
  font-size: 1.3rem;
  /* width: 2rem; */
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ============ ME ==========*/
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    /* left: 50%;
    transform: translateX(50% - 11rem); */
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}

/* ============ SCROLL DOWN ==========*/
.scroll__down {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -2.3rem;
  bottom: 3rem;

}
.scroll__down > p {
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.1rem;
    /* height: 20rem; */

}
.element {
  position: relative;
  left: 2.8rem;
  top: 4rem;
  width: 0; 
  height: 3rem; 
  /* background-color: red; */
  animation: 
  nudge 1s linear infinite alternate,
  slide-in-blurred-top 1s infinite cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

  border-top: 10px solid var(--color-primary);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;   
}
.scroll__down:hover .element {
  border-top: 10px solid var(--color-light);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
}
@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  30% {
    transform: translate(0, 2px);
  }
  
  80% {
    transform: translate( 0, -2px,);
  }
}

@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-50px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

/* ================== MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
    header {
      padding-top: 2rem;
    }
    .header__container-name {
      font-size: 8rem;
      font-weight: 700;
      line-height: 1.2;
    }
}

/* ================== MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 800px) and (orientation: landscape) {
  header {
    height: 100vh;
    padding-top: 1rem;
  }
  .header__container-name {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: .9;
  }
  .header__container .text-light {
    padding: .5rem 0 1.5rem;
  }
  .cta {
    gap: 2.5rem;
    margin-top: 0rem;
  }
  .scroll__down {
    /* position: absolute; */
    right: -1rem;
    bottom: 6rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: .8rem;
  }

  .header__socials, .scroll__down {
    display: none;
  }

}



/* ================== MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {
  header {
    height: 91.2vh;
    padding-top: 5rem;
  }
  .header__container-name {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .header__socials, .scroll__down {
    display: none;
  }
  .cta {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
  }
}


/* ================== MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (min-height: 800px) {
  header {
    height: 100vh;
    padding-top: 9rem;
  }
  .cta {
  }
  .cta .btn {
    white-space: nowrap;
    display: flex;
    /* flex-direction: row; */
  }
}